@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

body {
  background-color: #333;
  width: 100vw;
  height: 100vh;
  display: flex;
  display:-webkit-flex;
  flex-direction: column;
  flex-direction: -webkit-column;
  justify-content: space-between;
  justify-content: -webkit-space-between;
  padding: 20px;
  color: white;
  opacity: 0;
  animation: fadeIn 2s 1s forwards;
}

h1 {
    font-family: neue-haas-unica, "Helvetica Neue",sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.25px;
}

a {
    font-family: neue-haas-unica, "Helvetica Neue",sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: white;
    text-align: center;
    text-decoration: none;
    opacity: 0.5;
    transition: opacity 0.25s;
    margin-bottom: 1px;
}

a:hover {
    opacity: 1;
    transition: opacity 0.25s;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #333;
    border-radius: 8px;

    margin: 8px 0px 0px 8px; 

    display: inline-block;

    display: none;
}

.black {
    color: black;
}

.blackBackground {
    background-color: black;
}

.redBackground {
    background-color: red;
}

.caps {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.button {
    text-align: center;
    display: inline-block;
    font-size: 10px;
    padding: 4px 20px 6px 20px;
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    width: 90px;
    opacity: 0.25;
    transition: opacity 0.25s;
    /*bottom: 20px;*/
}

.button:hover{
    opacity: 1;
    transition: opacity 0.25s;
    cursor: pointer;
}

.indexButton {
    float: right;
}

.pageNumber { 
    float: right;
    text-align: right;
}

.none {
    display: none;
}


.browserWindow{
    display: grid;
    display: -webkit-grid;
    align-items: center;
    align-items: -webkit-center;
    margin: auto;
    margin: -webkit-auto;
    z-index: -webkit-0;
    transition: opacity 0.5s;
}

.child {
    grid-area: 1/1;
    grid-area: -webkit-1/1;
}

.navBar {
    width: 80vw;
    height: 24px;
    background-color: #1a1a1a;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    transform: translateY(calc(-40vh - 12px));

    transition: 0.5s;
}

.mobilePhone {
    z-index: 0;
    z-index: -webkit-0;
    width: 400px;
    height: 750px;
    border-radius: 30px;

    transform: translateY(-15px);

}

.mobileView {
    width: 380px;
    height: 600px;
    border-radius: 0px;
    box-shadow: none;

    transform: translateY(-15px);

}

iframe {

    width: 80vw;
    height: 80vh;
    margin: 0px auto 0px auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 20px 20px #222;
    transition: 0.5s;
    background-color: white;
    z-index: 1;
    z-index: -webkit-1;

    -webkit-transform: translate3d(0,0,0);

    cursor: none;
}

.placeholder {
    width: 80vw;
    height: 80vh;
    margin: 0px auto 0px auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.5s;
    z-index: 100;
    z-index: -webkit-1;
    position: fixed;
    -webkit-transform: translate3d(0,0,0);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.header {
    margin-bottom: 20px;
}

.buttons {
    height: 85vh;
    width: 500px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;

    /*background-color: red;*/
}

.left {
    left: 0px;
    cursor: w-resize;
}

.right {
    right: 0px;
    cursor: e-resize;
}

.browserHide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

.indexContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100vw
    max-height: 100vh;
    overflow: visible;

    opacity: 0;

    transition: opacity 0.25s;

    pointer-events: none;
}

.index {
    margin: auto;
    max-width: 300px;
    text-align: center;

    pointer-events: none;
}

@keyframes leftToRight {
    0%      {left: -20px;}
    100%    {left: calc(100vw - 420px);}
}

@keyframes topToBottom {
    0%      {top: 0px;}
    100%    {top: calc(100vh - 250px);}
}

.thumbnailHolder {
    width: 400px;
    height: 250px;
    animation: topToBottom 5.42s linear alternate infinite;
    position: fixed;
}

.thumbnail {
    animation: leftToRight 7.24s linear alternate infinite;

    width: 400px;
    height: 250px;
    top: 0%;
    left: 0%;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.thumb {
    overflow: hidden;
}

.fullOpacity {
    opacity: 1;
    transition: 0.5s;
}

.fullOpacity:hover {
    color: black;
    background-color: white;
    transition: 0.5s;
}

.fullOpacity2 {
    opacity: 1;
    transition: opacity 0.5s;
    pointer-events: all;
}

.red {
    opacity: 0.75;
}


.breaker {
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: -20px;
    display: flex;

    justify-content: space-around;
    align-items: center;

    background-color: black;

    transition: opacity 1s;

    padding: 0px 20vw 0px 20vw;
}

.transparent {
    opacity: 0;
}

.breakerText {
    font-family: neue-haas-unica, "Helvetica Neue",sans-serif;
    text-align: center;
    font-size: 42px;
    line-height: 60px;

}